body {
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#controls {
	position: absolute;
	bottom: 40px;
	left: 10px;
	position:absolute;	
	font-size: 12px;
}
div.control {
	margin-right: 10px;
	display:inline-block;
}
#about, #legend, #legendContent {
	background-color: #fff;
	border-radius: 4px;
	box-shadow:0 0 10px 2px rgba(0,0,0,.1);
	color: #000;
	padding: 6px;
}
#legend {
	font-weight: normal;
}
#legend .subhead {
	font-weight: bold;
}

#scale {
	position:relative;
	width: 300px;
	height: 20px;
}

#scale div {
	float:left;
	height:100%;
	overflow:hidden;
}
#scale div {
	text-align:left;
}
#scale {
	font-size:10px;
}
#legend section {
	margin-bottom: 10px;
}
#legend section:last-child {
	margin-bottom: 0px;
}
#legend input {
	margin-left: 0.5em;
}
#about {	
	font-weight: normal;
	cursor:pointer;
}
#legendIcon {
	width: auto;
	padding-left: 22px;
	height: 17px;
	background-image: url(layers.png);
	background-size: 17px auto;
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}
div#legend.showLegend {
	background-color: #f0f0f0;
}

#legendContent {
	display: none;
}

.showLegend #legendContent {
	display: block;
	position: absolute;
	bottom: 40px;
	left: 0px;
	background:white;
}