body {
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#legend {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow:0 0 10px 2px rgba(0,0,0,.1);
	color: #000;
	float: left;
	padding: 10px;
	font-size: 12px;
	font-weight: normal;
}
#legend .subhead {
	font-weight: bold;
}

#scale {
	position:relative;
	width: 300px;
	height: 20px;
}

#scale div {
	float:left;
	height:100%;
	overflow:hidden;
}
#scale div {
	text-align:left;
}
#scaleLabel {
	margin-top:10px;
	
}
#scale {
	font-size:10px;
}
#legend section {
	margin-top: 10px;
}
#legend input {
	margin-left: 0.5em;
}
.productName {
	font-size:14px;
	font-weight:bold;
}